# For now just ignore the whole /home
/*
/*/

!/.scripts
/.scripts/*
!/.scripts/git-scripts
!/.scripts/kernel_menu_utils.sh
!/.scripts/patchset_helper.sh
!/.scripts/patchset_format.sh

!/.scripts/script_menu_utils.sh
!/.scripts/bookmark*
!/.scripts/command*

!/.scripts/dmenu_notes.sh
!/.scripts/stopwatch.sh
!/.scripts/timer_dmenu.sh
!/.scripts/powerdmenu.sh
!/.scripts/emoji_picker.sh
!/.scripts/ss*

!/.config/
/.config/*
!/.config/i3
/.config/i3/*
!/.config/i3/config

!/.config/i3blocks/

!/.config/ranger/

!/.config/lazygit/
/.config/lazygit/*
!/.config/lazygit/config.yml

!/.config/mutt/
/.config/mutt/*
!/.config/mutt/generic/
/.config/mutt/generic/*
!/.config/mutt/generic/vim-keys
!/.config/mutt/generic/options
!/.config/mutt/generic/mailboxes
!/.config/mutt/generic/sidebar
!/.config/mutt/generic/tags
!/.config/mutt/generic/theme
!/.config/mutt/generic/muttrc
!/.config/mutt/generic/muttrc_proton

!/.config/mutt/intel/
/.config/mutt/intel/account
/.config/mutt/intel/mailboxes
!/.config/mutt/proton/
/.config/mutt/proton/account
