# For now just ignore the whole /home
/*
/*/

!/.scripts
/.scripts/*
!/.scripts/git-scripts
!/.scripts/kernel_menu_utils.sh
!/.scripts/patchset_helper.sh
!/.scripts/patchset_format.sh

!/.scripts/script_menu_utils.sh
!/.scripts/bookmark*
!/.scripts/command*

!/.scripts/dmenu_notes.sh
!/.scripts/stopwatch.sh
!/.scripts/timer_dmenu.sh

!/.config/
/.config/*
!/.config/i3
/.config/i3/*
!/.config/i3/config

!/.config/i3blocks/
